<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--Ici on spécifie la chaine de connexion à la BDD-->
    <add name="BddContext" connectionString="Data Source=(LocalDb)\mssqllocaldb;Initial Catalog=ChoixRestoTest;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
    <!--<add name="BddContext" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;userid=user;password=user;database=GestionOutillageProd;persistsecurityinfo=True" />-->
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>